.project-card {

    display: inline-block;
    justify-content: space-between;
    border: 2px dashed whitesmoke; /* Puedes ajustar el grosor y el color del borde según tu preferencia */
    text-align: center;
    text-decoration: none;
    width: 45%;
    background-color: rgba(35, 32, 32, 0.532);
    /* Ajusta el ancho según sea necesario */
}

.project-image {
    width: 90%; 

    /* Ajusta el tamaño de la imagen */
    height: auto;
}

.project-title {
    font-size: large;
    margin: 5.5%;
    text-decoration: none;
    color: white;
}

.project-description {
    font-size: large;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragraph-container3 {
    /* Cambia el ancho del contenedor de párrafo */
    margin: 0% 5%;
    /* Alinea el texto a la izquierda */

}

.paragraph-container3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Para que las tarjetas se envuelvan si no caben todas en una sola línea */
}

.project-card {
    width: 31%;
    /* Calcula el ancho de la tarjeta para que haya un espacio entre ellas */
    margin-bottom: 2.5%;
    /* Agrega un margen inferior para separar las tarjetas */
    /* Puedes ajustar estos valores según sea necesario */
}