/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 0;
    color: white;
    position: relative;
    z-index: 9999;
    width: auto;
    /* Agregué un color de fondo para mayor contraste */
}

.navbar-title {}

/* Navbar links */
.navbar-links {
    display: flex;
    margin-right: 35px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    /* Reduje el espacio entre los enlaces */
}

.navbar-link:hover {
    font-weight: bold;
}

.navbar-link:first-child {
    margin-left: 0;
}

/* Navbar y h1 */
.navbar-title,
.navbar-link {
    color: white;
    text-decoration: none;
}

/* Sticky Navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* Cambié el ancho para que sea del 100% */
    z-index: 9999;
}