.star {
    animation: twinkle 2s infinite;
    /* Reducir la duración de la animación para un efecto más rápido */
}

@keyframes twinkle {
    0% {
        transform: scale(0.9);
        /* Reducir el tamaño inicial para un efecto de destello más sutil */
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        /* Ajustar la escala para un efecto de pulso más pronunciado */
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        /* Regresar al tamaño inicial para completar el ciclo de destello */
        opacity: 0.8;
    }
}
